main {
  height: 1662px;
  .recipeTitle {
    height: 162px;
    background-color: #f8dca5;
    display: flex;
    align-items: flex-end;
    h1 {
      font-size: 8rem;
      font-family: "Koulen", sans-serif;
      margin-left: 8rem;
      color: #e7b10a;
    }
  }
  .recipeDisplay {
    height: 568px;
    background-image: url("../images/recipes/realAmericanBurger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    .recipeInfo {
      background-color: #f8dca599;
      width: 260px;
      height: 160px;
      margin-left: 8rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem;
      color: white;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 2rem;
      }
      h4 {
        font-family: "Kaisei HarunoUmi", serif;
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
      }
    }
  }
  .mainInfo {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    list-style-position: inside;
    margin-top: -8rem;
    .recipeContainer {
      width: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 12.7rem;
      .recipeIngredients {
        background-color: #f8dca5;
        font-size: 1.8rem;
        font-family: "Kaisei HarunoUmi", serif;
        padding: 3rem;
        border-radius: 1rem;
        h2 {
          font-size: 3.5rem;
        }
        .infoLine {
          height: 0.5rem;
          width: auto;
          background-color: #8a8122;
          margin: 1.5rem 0;
        }
      }
      .recipeNeeds {
        background-color: #f8dca5;
        font-size: 1.8rem;
        font-family: "Kaisei HarunoUmi", serif;
        border-radius: 1rem;
        padding: 3rem;
        margin-top: 3rem;
        h2 {
          font-size: 3.5rem;
        }
        .infoLine {
          height: 0.5rem;
          width: auto;
          background-color: #8a8122;
          margin: 1.5rem 0;
        }
      }
    }
    .recipeInstructions {
      background-color: #f8dca5;
      width: 50rem;
      font-size: 1.8rem;
      font-family: "Kaisei HarunoUmi", serif;
      padding: 3rem;
      border-radius: 1rem;
      h2 {
        font-size: 3.5rem;
      }
      .infoLine {
        height: 0.5rem;
        width: auto;
        background-color: #8a8122;
        margin: 1.5rem 0;
      }
    }
  }
}
